@import '../styles/variables.css';

.link-button {
  color: var(--main-accent);
  text-decoration: none;
  font-size: 0.98em;
  font-weight: 500;
  transition: color 0.2s;
  margin-left: auto;
}

.link-button:hover {
  color: var(--yellow-light);
  text-decoration: underline;
}
