:root {
  --main-bg: #171528;
  --main-accent: #ffb902;
  --main-white: #ffffff;
  --grey-light: #f4f4f7;
  --grey-medium: #b3b3c6;
  --blue-mid: #444165;
  --yellow-light: #ffe066;
  --error: #e53e3e;
  --success: #38b000;
}
